.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.forum-post {
  padding: 10px;
  border-radius: 4px;
}
.forum-title {
  font-weight: 350;
  letter-spacing: 0.25;
  text-transform:capitalize;
}

.forum-post-tags > span {
  padding-right: 10px;
}

.user-img {
  height: 5.3rem;
  width: 5.3rem;
  border-radius: 50%;
  object-fit: contain;
  background-color: transparent;
}

.active {
  background: #4cb377;
  font-weight: 600;
  text-transform: uppercase;
}

.logo {
  background: #fff;
}